
.container{
    position: absolute;
    z-index: 1;
    margin-top: 10%;
    margin-left: 40%;
    height: 220px;
    width: 200px;
    text-align: center;
    padding-top: 80px;
    background-color: rgb(205, 202, 199);
    border: 2px solid rgb(243, 183, 94);
    border-radius: 10px;
    box-shadow: 50px;
}
.superContainer{
    
    height: 200vh;
    width: 100vw;
}

.header img{
    position: absolute;
    z-index:2;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid rgb(243,183,94);
    margin-bottom: 100px;
    margin-top: 5%;
    margin-left: 44%;
}
.body h2{
    color:black;
}
a{
    text-decoration: none;
    color: black;
}
.link a{
    color:rgb(88, 138, 13);
}

.footer{
    margin-top: 15px;
    align-content: center;
    background-color: rgb(243, 183, 94);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0.5, 0.5, 0.5, 0.5);
}